.game-card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  -moz-box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  padding: 30px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.4s ease;
}

.game-card-wrapper:hover {
  transform: translateY(-5px);
}

.game-card-wrapper img {
  width: 60px;
  height: 60px;
}

.game-status {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-score,
.away-score {
  font-size: 30px;
}

.home-score {
  margin-right: 20px;
}

.away-score {
  margin-left: 20px;
}

.game-nugget {
  font-size: 14px;
}

.game-link,
.game-link:hover {
  outline: none;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  .game-status {
    top: 37%;
  }

  .home-score {
    margin-right: 16px;
  }

  .away-score {
    margin-left: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .game-card-wrapper img {
    width: 48px;
    height: 48px;
  }

  .home-score {
    margin-right: 15px;
  }

  .away-score {
    margin-left: 15px;
  }
}

@media screen and (max-width: 460px) {
  .game-card-wrapper img {
    width: 35px;
    height: 35px;
  }

  .home-team-section,
  .away-team-section,
  .game-status {
    font-size: 12px;
  }

  .home-score,
  .away-score {
    font-size: 25px;
  }

  .home-score {
    margin-right: 5px;
  }

  .away-score {
    margin-left: 5px;
  }
}
