.searchbar-wrapper {
  padding: 10px 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  -moz-box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  box-shadow: 1px 1px 20px 0px rgba(173, 168, 173, 0.8);
  margin-bottom: 50px;
}

.searchbar-content {
  position: relative;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.suggestion-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.suggestion-card img {
  width: 60px;
  height: 45px;
  margin-right: 15px;
}
