body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}

.app-wrapper {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  .app-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .app-wrapper {
    width: 97%;
  }
}
